@charset "UTF-8";
/*Estilização Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #0f0f1e;
    color: #fff;
    font-size: 16px;
}

/*Estilização dos titulos*/
.titulo {
    font-size: 40px;
    padding-bottom: 30px;
}

/*Estilização generica das seções*/
section {
    width: 100vw;
    min-height: 100vh;
    padding: 20px;

    scroll-margin-top: 70px;

    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

/*Ajuste de padding para telas com altura menor*/
@media (max-height: 770px) {
    section {
        padding: 70px;
    }
}

/*Estilização do cabeçalho e menu de navegação*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/*Estilização do menu*/
header > nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    background-color: #1a1a2e;  
}

header nav ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
/*Estilização dos itens do menu*/
.itens, a{
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.itens > a:hover {
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}

/*Estilização da Seção Inicio*/
.inicio {
    position: relative;
}

/*Estilização da imagem*/
.foto {
    padding-top: 5%;
    padding-bottom: 60px;
    z-index: 10;
    filter: drop-shadow(0 0 80px rgba(0,247,255,0.3));
}

.foto img{
    border:#00f7ff solid 3px;
    border-radius: 50%;
    width: 400px;
    z-index: 10;
}

/*Estilização do nome (titulo)*/
.nome {
    font-family: "Orbitron", sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    margin-bottom: 15px;
    z-index: 10;
}

/*Ajustes para telas menores*/
@media (max-width: 650px),(max-height: 650px) {
    .foto img {
        width: 250px;
    }

    .nome {
        font-size: 30px;
    }

    .titulo {
        font-size: 30px;
        padding-bottom: 20px;
    }
}

/*Estilização da Seção Sobre mim*/
.sobre-div {
    filter: drop-shadow(0 0 30px rgba(0,247,255,0.3));
    background-color: #1a1a2e;
    border: #00f7ff solid 1px;
    border-radius: 20px;

    padding: 25px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.7;
}

/*Estilização da lista dentro da seção*/
.sobre-div ul{
    padding-left: 1rem;
    margin-left: 0;
    list-style-position: outside;
}

/* Estilização da Seção Formação*/
.formacao-div {
    filter: drop-shadow(0 0 30px rgba(0,247,255,0.3));
    background-color: #1a1a2e;
    border: #00f7ff solid 1px;
    border-radius: 20px;

    padding: 30px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.7;
}
/*Estilização da lista dentro da seção*/
.formacao-div ul{
    padding-left: 1rem;
    margin-left: 0;
    list-style-position: outside;
}

/*Estilização da Seção Projetos*/
.projetos-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*Estilização do Projeto geral*/
.projeto {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;

    filter: drop-shadow(0 0 30px rgba(0,247,255,0.3));
    border: #00f7ff solid 2px;
    border-radius: 20px;
    background-color: #1a1a2e;
    z-index: 10;
}

/*Estilização da imagem do projeto*/
.projeto img {
    z-index: 1;
    border-radius: 20px 20px 0 0;
}

/*Estilização do titulo e descrição do projeto*/
.projeto-titulo, .projeto-descricao {
    padding: 10px 20px;
    text-align: justify;
    font-size: 16px;
}

.destaque {
    color: #00f7ff;
    font-weight: bold;
}

.projeto:hover {
    transform: scale(1.07);
    transition: all 0.3s ease-in-out;
}

/*Ajustes do projeto para telas menores*/
@media (max-width: 1350px) {
    .projeto {
        width: 300px;
        height: 400px;
    }

    .projeto-titulo, .projeto-descricao {
        font-size: 14px;
    }
}

@media (max-width: 1060px) {
    .projeto {
        width: 250px;
        height: 350px;
    }

    .projeto-titulo, .projeto-descricao {
        font-size: 12px;
        padding: 10px;
    }
}

@media (max-width: 900px) {

    .projetos-div {
        flex-direction: column;
        gap: 30px;
}

    .projeto {
        aspect-ratio: 4 / 5;
        width: 100%;
        height: auto;
        max-width: 400px;
    }

    .projeto-titulo, .projeto-descricao {
        padding: 10px 20px;
        font-size: 16px;
}
}

/*Estilização da Seção Contatos*/
.contatos-div, .contatos-form {
    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0 0 30px rgba(0,247,255,0.3));
    background-color: #1a1a2e;
    border-radius: 20px;
    border: #00f7ff solid 1px;

    padding: 25px;
    width: 100%;
    max-width: 600px;
}   

/*Estilização do Formulario*/
.contatos-form > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

/*Estilização dos Inputs*/
.campo-form {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #0f0f1e;
    border: 1px solid #00f7ff;

    color: #ffffff;
}

/*Estilização dos botões*/
.button-form {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button-form button {
    background: #00f7ff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.button-form button:hover {
    transform: scale(1.07);
    filter: drop-shadow(0 0 30px rgba(0,247,255,0.3));
    transition: all 0.3s ease-in-out;
}

/*Estilização da lista de Redes Sociais*/
.contatos-list {
    display: flex;
    gap: 30px;
}

