@charset "UTF-8";
/*Nesse CSS temos apenas alguns pequenos ajustes para telas de SmartPhones*/
* {
    font-size: 14px;
}

.titulo {
    font-size: 30px;
    padding-bottom: 30px;
}

section {
    min-height: auto;
    padding: 20px 1px;

    scroll-margin-top: 70px;
}

header nav ul {
    gap: 20px;
}

#inicio, #contatos {
    min-height: 100vh;
    padding: 70px 0 20px 0;
}

#projetos {
    padding: 2px;
    gap: 20px;
}

@media (max-width: 410px) {
    * {
    font-size: 12px;
    }
    .titulo {
    font-size: 20px;
    padding-bottom: 20px;
    }
    .nome {
        font-size: 26px;
    }
    .projeto {
        max-width: 350px;
    }
    .projeto-titulo, .projeto-descricao {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .projeto {
        max-width: 300px;
    }
    
}

.projeto:hover {
    transform: none;
    transition: none;
}
